FRONTEND_URL="http://localhost:3000"
CORS_ALLOWED_URLS="http://localhost:3000"
OAUTH_REDIRECT_URI="http://localhost:3000/auth/callback"
COOKIE_DOMAIN="localhost"

CDN_SERVER_URL="http://localhost:5500"
CACHE_CDN_URL="http://localhost:5500"

PG_DATABASE_URL="postgresql://prisma:password@localhost:5432/crmm_dev?schema=public"
CDN_SECRET="a really secret secret"
CLOUDFLARE_SECRET="another secret secret"

NODE_ENV = "development"


# Auth Secrets
HASH_SECRET_KEY = "Really-Super-Secret-Key"

GITHUB_ID=""
GITHUB_SECRET=""

DISCORD_ID=""
DISCORD_SECRET=""

GOOGLE_ID=""
GOOGLE_SECRET=""

GITLAB_ID=""
GITLAB_SECRET=""

MEILISEARCH_MASTER_KEY="meilisearch-master-key"


# Email transport credentials
NOREPLY_SMTP_RELAY="smtp-relay.brevo.com"
NOREPLY_SMTP_PORT="587"
NOREPLY_SMTP_USER=""
NOREPLY_SMTP_KEY=""

SUPPORT_NOREPLY_EMAIL="support@noreply.crmods.org"


##
SAFE_BROWSING_API_KEY=""


# Backblaze storage
BACKBLAZE_BACKUP_API_KEY_ID=""
BACKBLAZE_BACKUP_API_KEY=""


# Archive User Account
ARCHIVE_USER_ID=""


# Clickhouse DB
CLICKHOUSE_PORT="8123"
CLICKHOUSE_USER="default"
CLICKHOUSE_PASSWORD=""
