NODE_ENV="development"

FRONTEND_URL="https://crmods.org"
CORS_ALLOWED_URLS="https://crmods.org"
OAUTH_REDIRECT_URI="https://crmods.org/auth/callback"
COOKIE_DOMAIN=".crmods.org"

CDN_SERVER_URL="https://api.crmods.org"
CACHE_CDN_URL="https://cdn.crmods.org"

CDN_SECRET=""
CLOUDFLARE_SECRET=""

PG_DATABASE_URL=""

# Auth Secrets
HASH_SECRET_KEY=""

GITHUB_ID=""
GITHUB_SECRET=""

DISCORD_ID=""
DISCORD_SECRET=""

GOOGLE_ID=""
GOOGLE_SECRET=""

GITLAB_ID=""
GITLAB_SECRET=""

MEILISEARCH_MASTER_KEY=""

# Email transport credentials
BREVO_USER="27981237@smtp-brevo.com"

SUPPORT_EMAIL="support@crmods.org"
SUPPORT_EMAIL_PASSWORD=""

NOREPLY_EMAIL="no-reply@crmods.org"
NOREPLY_EMAIL_PASSWORD=""

ADMIN_EMAIL="admin@crmods.org"
ADMIN_EMAIL_PASSWORD=""

# Safe browsing API key
SAFE_BROWSING_API_KEY=""

# Backblaze storage
BACKBLAZE_BACKUP_API_KEY_ID=""
BACKBLAZE_BACKUP_API_KEY=""

# Archive User Id
ARCHIVE_USER_ID=""

# Clickhouse DB Creds
CLICKHOUSE_PORT="8123"
CLICKHOUSE_USER="default"
CLICKHOUSE_PASSWORD=""
