@import "./themes/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    color: hsla(var(--foreground-muted));
    background-color: hsla(var(--background));
    font-size: var(--font-base);
    font-weight: 400;
    scrollbar-gutter: stable;

    transition: filter 300ms ease;
    font-family:
        "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

html body[data-scroll-locked] {
    margin: 0 !important;
}

* {
    scrollbar-width: thin;
    scrollbar-color: hsla(var(--foreground-extra-muted)) hsla(var(--card-background));
}

body.navmenu-open,
body.no-scrollbar {
    overflow: hidden;
}

*:focus {
    outline: transparent;
}

@layer components {
    .focus_ring:not(.no_focus_ring) {
        --surround-width: 0.17rem;
        box-shadow:
            inset 0px -1px 2px transparent,
            0 0 0 var(--surround-width) hsla(var(--accent-bg));
        transition-property: background-color, box-shadow, color;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .keyboard_focus_ring:not(.no_keyboard_focus_ring) {
        --surround-width: 0.17rem;
        box-shadow:
            inset 0px -1px 2px transparent,
            0 0 0 var(--surround-width) hsla(var(--accent-bg));
    }

    .input_box_styles:not(.no_input_box_styles) {
        @apply h-10 rounded flex items-center bg-raised-background text-foreground px-3 py-2 placeholder:text-foreground-extra-muted disabled:cursor-not-allowed disabled:opacity-50;
        @apply focus-visible:outline-none focus-visible:focus_ring focus-visible:bg-transparent;
    }

    .full_page:not(.no_full_page) {
        min-height: min(100vh, 68rem);
        /* biome-ignore lint/suspicious/noDuplicateProperties: The above one is a fallback if clamp is not supported  */
        min-height: clamp(45rem, 100vh, 68rem);
    }

    .bg_hover_stagger:not(.no_bg_hover_stagger) {
        transition-property: filter, color, background-color;
        @apply hover:duration-0 group-hover:duration-0;
    }

    .absolute-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

a {
    text-underline-offset: 2px;
}

a,
button,
input[type="checkbox"] {
    @apply focus-visible:outline-none focus-visible:keyboard_focus_ring rounded transition-[filter];
}

.lucide-arrow-up-right {
    transition: translate 250ms ease;
}

a:hover .lucide-arrow-up-right,
a:focus-visible .lucide-arrow-up-right {
    translate: 0.1rem -0.1rem;
}

a svg {
    flex-shrink: 0;
}

img {
    vertical-align: center;
    font-style: italic;
}

.disable-interactions {
    user-select: none;
    pointer-events: none;
    filter: brightness(80%);
}

/* RTL things */

html[dir="rtl"] .lucide-chevron-right,
html[dir="rtl"] .lucide-arrow-right {
    rotate: 180deg;
}

html[dir="rtl"] .lucide-chevron-left,
html[dir="rtl"] .lucide-arrow-left {
    rotate: 180deg;
}