/* DARK THEME */

/* Mofify _base.css to tweak dark theme colors */
.dark {
    color-scheme: dark;
}

.oled {
    color-scheme: dark;

    --foreground-bright: 208, 20%, 89%;
    --foreground: 208, 20%, 81%;
    --foreground-muted: 208, 16%, 74%;
    --foreground-extra-muted: 208, 14%, 60%;

    --background: 0, 0%, 0%;
    --card-background: 215, 16%, 7%;
    --raised-background: 215, 16%, 12%;
    --hover-background: 215, 15%, 16%;

    --shadow: 215, 20%, 3%;
    --border: 215, 16%, 13%;
    --separator: 215, 16%, 12%;
}
