@import "./page-styles.css";
@import "./search/styles.css";
@import "./project/styles.css";

@layer view-transitions {
    @view-transition {
        navigation: auto;
    }
}

::view-transition-group(root) {
    /* animation: none; */
    animation-duration: 200ms;
}

::view-transition-new(root),
::view-transition-old(root) {
    mix-blend-mode: multiply;
}
