/* Marqee animation */
.marquee {
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
    );
}

.marquee .scroll-container {
    animation: MarqeeScroll linear infinite;
}

.marquee:focus-within .scroll-container,
.marquee:hover .scroll-container {
    animation-play-state: paused;
}

@keyframes MarqeeScroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
