name: Update Game Versions

on:
#    schedule:
#      - cron: "0 * * * *" # every hour
    workflow_dispatch:
    repository_dispatch:
        types: [trigger_update_versions]

jobs:
    update:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
          - uses: actions/checkout@v4
          - uses: oven-sh/setup-bun@v2

          - name: Fetching and updating game versions
            id: update
            run: |
                echo "Looking for new game versions..."
                bun run scripts/update-game-version.ts

          - name: Commit and push changes
            run: |
                git config user.name "github-actions[bot]"
                git config user.email "github-actions[bot]@users.noreply.github.com"

                git add packages/utils/src/constants/game-versions.json

                if ! git diff --cached --quiet; then
                    echo "Committing changes..."  
                    git commit -m "chore: update game versions (github-actions)"
                    git pull --rebase
                    git push origin main
                    git push origin main:deploy
                else
                    echo "No changes to commit."
                fi
